/*-- scss:defaults --*/

$body-bg: #0f141b;
$body-color: #d8dee6;
$headings-color: #fff;
$primary: #8cbcec;
$muted: #93a0b1;
$rule: #2a3340;
$navbar-bg: $body-bg;
$navbar-fg: #b0bac6;
$code-block-bg: #161d26;
$link-tint: 45%;
